{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ asset('haha.css') }}" />
<!-- Section Area - Content Central -->

    <div class="container padding-top">
        <div class="groups-list page-group">
            <h1 style="color: #ffffff;font-size: xx-large"> MERCI {{ app.user.username }}</h1>
            <h1 style="color: #ffffff"> POUR VOTRE PARTICIPATION!</h1>
            <h1 style="color: #ffffff">COUT TOTAL: {{ m.joueur1.cout+m.joueur2.cout+m.joueur3.cout+m.joueur4.cout+m.joueur5.cout+m.joueur6.cout+m.joueur7.cout+m.joueur8.cout+m.joueur9.cout+m.joueur10.cout+m.joueur11.cout }}</h1>
            <h1 style="color: #ffffff">{{ m.joueur1.nom }} Cout: {{ m.joueur1.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur1.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{ m.joueur2.nom }} Cout: {{ m.joueur2.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur2.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur3.nom }} Cout: {{ m.joueur3.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur3.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur4.nom }} Cout: {{ m.joueur4.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur4.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur5.nom }} Cout: {{ m.joueur5.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur5.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur6.nom }} Cout: {{ m.joueur6.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur6.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{    m.joueur7.nom }} Cout: {{ m.joueur7.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur7.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur8.nom }} Cout: {{ m.joueur8.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur8.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur9.nom }} Cout: {{ m.joueur9.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur9.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur10.nom }} Cout: {{ m.joueur10.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur10.idequipe.drapeau)}}" height="30" width="30"> </h1>
            <h1 style="color: #ffffff">{{  m.joueur11.nom }} Cout: {{ m.joueur11.cout }} <img src="{{ asset('uploads/Equipes/' ~ m.joueur11.idequipe.drapeau)}}" height="30" width="30"> </h1>



            <div class="test">
    <main style="opacity: 1;" class="">


    <div class="stage" >
        <div class="world" >
            <div class="team"></div>
            <div class="terrain" >
                <div class="field ground" style="background-color: #00A000">
                    <div class="field__texture field__texture--gradient"></div>
                    <div class="field__texture field__texture--gradient-b"></div>
                    <div class="field__texture field__texture--grass"></div>
                    <div class="field__line field__line--goal"></div>
                    <div class="field__line field__line--goal field__line--goal--far"></div>
                    <div class="field__line field__line--outline"></div>
                    <div class="field__line field__line--penalty"></div>
                    <div class="field__line field__line--penalty-arc"></div>
                    <div class="field__line field__line--penalty-arc field__line--penalty-arc--far"></div>
                    <div class="field__line field__line--mid" ></div>
                    <div class="field__line field__line--circle"></div>
                    <div class="field__line field__line--penalty field__line--penalty--far" ></div>
                </div>
                <div class="field__side" style="background-color: #00A000"></div>
            </div>
        </div>

        </div>
    </main>
</div>
        </div>
    </div>


<script>

    {% if m.formation=='4-4-2' %}
    var players =  [{
        name: '{{ m.joueur11.nom }}',
        asset: '{{ asset('uploads/Joueurs/' ~ m.joueur11.imageJoueur1) }}',
        origin: 'Peru',
        height: '1.84m',
        shirt: '14',
        pos: 'Forward',
        dob: '36',
        goals: 1,
        games: 16,
        x: 250,
        y: 50
    },
        {
        name: '{{ m.joueur10.nom }}',
        asset: '{{ asset('uploads/Joueurs/' ~ m.joueur10.imageJoueur1) }}',
        origin: 'Peru',
        height: '1.84m',
        shirt: '14',
        pos: 'Forward',
        dob: '36',
        goals: 1,
        games: 16,
        x: 110,
        y: -190
    }, {
            name: '{{ m.joueur9.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur2.imageJoueur1) }}',
        origin: 'Holland',
        height: '1.80m',
        shirt: '10',
        pos: 'Forward',
        dob: '32',
        goals: 19,
        games: 30,
        x: -110,
        y: -190
    }, {
            name: '{{ m.joueur8.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur8.imageJoueur1) }}',
        origin: 'France',
        height: '1.70m',
        shirt: '7',
        pos: 'Midfield',
        dob: '32',
        goals: 9,
        games: 22,
        x: 60,
        y: 100
    }, {
            name: '{{ m.joueur7.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur7.imageJoueur1) }}',
        origin: 'Germany',
        height: '1.87m',
        shirt: '24',
        pos: 'Forward',
        dob: '31',
        goals: 21,
        games: 3,
        x: -60,
        y: 100
    }, {
            name: '{{ m.joueur6.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur6.imageJoueur1) }}',
        origin: 'Spain',
        height: '1.90m',
        shirt: '8',
        pos: 'Midfield',
        dob: '28',
        goals: 0,
        games: 2,
        x: -250,
        y: 50
    }, {
            name: '{{ m.joueur5.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur5.imageJoueur1) }}',
        origin: 'Austria',
        height: '1.80m',
        shirt: '27',
        pos: 'Defence',
        dob: '24',
        goals: 5,
        games: 27,
        x: -250,
        y: 250
    }, {
            name: '{{ m.joueur4.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur4.imageJoueur1) }}',
        origin: 'Germany',
        height: '1.70',
        shirt: '21',
        pos: 'Defence',
        dob: '32',
        goals: 2,
        games: 25,
        x: 250,
        y: 250
    }, {
            name: '{{ m.joueur3.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur3.imageJoueur1) }}',
        origin: 'France',
        height: '1.87m',
        shirt: '5',
        pos: 'Defence',
        dob: '31',
        goals: 21,
        games: 1,
        x: 100,
        y: 300
    }, {
            name: '{{ m.joueur2.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur2.imageJoueur2) }}',
        origin: 'Brazil',
        height: '1.87m',
        shirt: '4',
        pos: 'Defence',
        dob: '32',
        goals: 0,
        games: 34,
        x: -100,
        y: 300
    }, {
        name: '{{ m.joueur1.nom }}',
        asset: '{{ asset('uploads/Joueurs/' ~ m.joueur1.imageJoueur3) }}',

        x: 0,
        y: 410
    }];
    {% endif %}
    {% if m.formation=='5-3-2' %}
    var players =  [{
        name: '{{ m.joueur11.nom }}',
        asset: '{{ asset('uploads/Joueurs/' ~ m.joueur11.imageJoueur1) }}',
        origin: 'Peru',
        height: '1.84m',
        shirt: '14',
        pos: 'Forward',
        dob: '36',
        goals: 1,
        games: 16,
        x: -95,
        y: 80
    },
        {
            name: '{{ m.joueur10.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur10.imageJoueur1) }}',
            origin: 'Peru',
            height: '1.84m',
            shirt: '14',
            pos: 'Forward',
            dob: '36',
            goals: 1,
            games: 16,
            x: 110,
            y: -190
        }, {
            name: '{{ m.joueur9.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur2.imageJoueur1) }}',
            origin: 'Holland',
            height: '1.80m',
            shirt: '10',
            pos: 'Forward',
            dob: '32',
            goals: 19,
            games: 30,
            x: -110,
            y: -190
        }, {
            name: '{{ m.joueur8.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur8.imageJoueur1) }}',
            origin: 'France',
            height: '1.70m',
            shirt: '7',
            pos: 'Midfield',
            dob: '32',
            goals: 9,
            games: 22,
            x: 100,
            y: 80
        }, {
            name: '{{ m.joueur7.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur7.imageJoueur1) }}',
            origin: 'Germany',
            height: '1.87m',
            shirt: '24',
            pos: 'Forward',
            dob: '31',
            goals: 21,
            games: 3,
            x: 0,
            y: 100
        }, {
            name: '{{ m.joueur6.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur6.imageJoueur1) }}',
            origin: 'Spain',
            height: '1.90m',
            shirt: '8',
            pos: 'Midfield',
            dob: '28',
            goals: 0,
            games: 2,
            x: -250,
            y: 250
        }, {
            name: '{{ m.joueur5.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur5.imageJoueur1) }}',
            origin: 'Austria',
            height: '1.80m',
            shirt: '27',
            pos: 'Defence',
            dob: '24',
            goals: 5,
            games: 27,
            x: 0,
            y: 300
        }, {
            name: '{{ m.joueur4.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur4.imageJoueur1) }}',
            origin: 'Germany',
            height: '1.70',
            shirt: '21',
            pos: 'Defence',
            dob: '32',
            goals: 2,
            games: 25,
            x: 250,
            y: 250
        }, {
            name: '{{ m.joueur3.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur3.imageJoueur1) }}',
            origin: 'France',
            height: '1.87m',
            shirt: '5',
            pos: 'Defence',
            dob: '31',
            goals: 21,
            games: 1,
            x: 100,
            y: 300
        }, {
            name: '{{ m.joueur2.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur2.imageJoueur2) }}',
            origin: 'Brazil',
            height: '1.87m',
            shirt: '4',
            pos: 'Defence',
            dob: '32',
            goals: 0,
            games: 34,
            x: -100,
            y: 300
        }, {
            name: '{{ m.joueur1.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur1.imageJoueur3) }}',

            x: 0,
            y: 410
        }];
    {% endif %}
    {% if m.formation=='4-3-2-1' %}
    var players =  [{
        name: '{{ m.joueur11.nom }}',
        asset: '{{ asset('uploads/Joueurs/' ~ m.joueur11.imageJoueur1) }}',
        origin: 'Peru',
        height: '1.84m',
        shirt: '14',
        pos: 'Forward',
        dob: '36',
        goals: 1,
        games: 16,
        x: -95,
        y: 80
    },
        {
            name: '{{ m.joueur10.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur10.imageJoueur1) }}',

            x: 00,
            y: -190
        }, {
            name: '{{ m.joueur9.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur2.imageJoueur1) }}',

            x: 250,
            y: -100
        }, {
            name: '{{ m.joueur8.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur8.imageJoueur1) }}',

            x: 100,
            y: 80
        }, {
            name: '{{ m.joueur7.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur7.imageJoueur1) }}',

            x: 0,
            y: 100
        }, {
            name: '{{ m.joueur6.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur6.imageJoueur1) }}',

            x: -250,
            y: 250
        }, {
            name: '{{ m.joueur5.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur5.imageJoueur1) }}',

            x: -250,
            y: -100
        }, {
            name: '{{ m.joueur4.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur4.imageJoueur1) }}',

            x: 250,
            y: 250
        }, {
            name: '{{ m.joueur3.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur3.imageJoueur1) }}',

            x: 100,
            y: 300
        }, {
            name: '{{ m.joueur2.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur2.imageJoueur2) }}',

            x: -100,
            y: 300
        }, {
            name: '{{ m.joueur1.nom }}',
            asset: '{{ asset('uploads/Joueurs/' ~ m.joueur1.imageJoueur3) }}',

            x: 0,
            y: 410
        }];
    {% endif %}

    var team = document.getElementsByClassName("team")[0];
    players.forEach(function(el, index){
        nodePlayer = document.createElement("div");
        nodePlayer.classList.add("player");
        nodePlayer.style.display = "block";
        nodePlayer.style.opacity = "1";
        nodePlayer.style.transform = "translateX(" + el.x + "px) translateZ(" + el.y + "px)";
        team.appendChild(nodePlayer);
        //------------
        node = document.createElement("div");
        node.classList.add("player__placeholder");
        nodePlayer.appendChild(node);
        node = document.createElement("div");
        node.classList.add("player__card");
        nodePlayer.appendChild(node);
        nodeH3 = document.createElement("h3");
        nodeH3.innerText = el.name;
        node.appendChild(nodeH3);
        //------------
        nodeUl = document.createElement("ul");
        nodeUl.classList.add("player__card__list");
        node.appendChild(nodeUl);
        nodeLi = document.createElement("li");
        nodeLi.innerHTML = "DOB<br>" + el.dob;
        nodeUl.appendChild(nodeLi);
        nodeLi = document.createElement("li");
        nodeLi.innerHTML = "Height<br>" + el.height;
        nodeUl.appendChild(nodeLi);
        nodeLi = document.createElement("li");
        nodeLi.innerHTML = "Origin<br>" + el.origin;
        nodeUl.appendChild(nodeLi);
        //------------
        nodeUl = document.createElement("ul");
        nodeUl.classList.add("player__card__list", "player__card__list--last");
        node.appendChild(nodeUl);
        nodeLi = document.createElement("li");
        nodeLi.innerHTML = "<span>Games</span><br>" + el.games;
        nodeUl.appendChild(nodeLi);
        nodeLi = document.createElement("li");
        nodeLi.innerHTML = "<span>Goals</span><br>" + el.goals;
        nodeUl.appendChild(nodeLi);
        //------------
        node = document.createElement("div");
        node.classList.add("player__label");
        node.style.display = "block";
        node.style.opacity = "1";
        node.innerHTML = "<span>" + el.name + "</span>";
        nodePlayer.appendChild(node);
        //------------
        node = document.createElement("div");
        node.classList.add("player__img");
        nodeImg = document.createElement("img");
        nodeImg.src =el.asset;
        nodeImg.setAttribute('height',500);

        node.appendChild(nodeImg);
        nodePlayer.appendChild(node);
    });




    //* ===================== é

    wc_team.dragDrap = function() {

        var position,
            dragSrc,

            // Select new team


            // reset players draggable attr
            dragReset = function(name) {

                var player = document.querySelector('.positions div[data-player="' + name + '"]');

                player.draggable = true;
            }

        return {
            init: init
        }
    }();



    // Create the pitch
    wc_team.init();
</script>

{% endblock %}
               {% block footer %}
                   {{ parent() }}
               {% endblock %}
