{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
            <!-- Section Title -->
            <div class="section-title big-title" style="background:url('{{ asset('uploads/Joueurs/'~ m.photostade) }}');">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <h1>{{ m.nom }}</h1>
                        </div>

                        <div class="col-md-4">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index-2.html">Home</a></li>
                                    <li>Inner Page</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section Title -->

            <!-- Section Area - Content Central -->
            <section class="content-info">

                <!-- White Section -->
                <div class="white-section paddings">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <h4 class="subtitle">
                                   <span>{{ m.ville }}</span>
                                  {{ m.nom }}
                                </h4>
                                <div class="accrodation">
                                    <!-- section 1 -->
                                    <span class="acc-trigger"><a href="#">Description</a></span>
                                    <div class="acc-container" style="display: none;">
                                        <div class="content">
{{ m.description }}                                        </div>
                                    </div>

                                    <!-- section 2 -->
                                                                       <span class="acc-trigger"><a href="#">Caractéristique</a></span>
                                    <div class="acc-container" style="display: none;">
                                        <div class="content">
                                            <img src="{{ asset('wifi.png') }}" height="50" width="50"> {{ m.wifi }} <br>
                                            <img src="{{ asset('gazon.png') }}" height="50" width="50"> {{ m.surface}}<br>
                                            <img src="{{ asset('Roof-icon.png') }}" height="50" width="50"> {{ m.toit}}


                                        </div>
                                    </div>
                                    <span class="acc-trigger"><a href="#">Adresse</a></span>
                                    <div class="acc-container" style="display: none;">
                                        <div class="content">
                                       {{ m.adresse}}

                                        </div>
                                    </div>


                                    <!-- section 3 -->
                                    <span class="acc-trigger"><a href="#">Capacité</a></span>
                                    <div class="acc-container" style="display: none;">
                                        <div class="content">
{{ m.capacite }}                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-5">
                                <img src="{{ asset('uploads/Joueurs/' ~ m.photostade) }}" alt="" height="10000" width="1000">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End White Section -->

                  <!-- End Parallax Section -->



                        <div class="row">

                            <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>

                            <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXNo5iYEjwgUG7h9K8ne5Kd5fZ7ulff3E&sensor=false&.js"
                                    type="text/javascript"    ></script>
                            <style>
                                #map_canvas{
                                    width: 1990px;
                                    height: 400px;
                                    border: 1px solid black;
                                    float: left;
                                }
                                #directions {
                                    width: 38%;
                                    float: right;
                                }
                                body {
                                    font-size: 12px;
                                }
                            </style>

                            <script>
                                var directionsDisplay = new google.maps.DirectionsRenderer({ draggable: true });
                                var directionsService = new google.maps.DirectionsService();
                                var map;

                                $(window).on('load',function() {
                                    var myOptions = {
                                        zoom: 10,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP,
                                        center: new google.maps.LatLng(35.270, -80.837)
                                    };
                                    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
                                    directionsDisplay.setMap(map);
                                    directionsDisplay.setPanel(document.getElementById("directions"));

                                    $("#routeMode").on("change", function() { calcRoute(); });
                                    $("#routeGo").on("click", function() { calcRoute(); });
                                    $("#routeClear").on("click", function() { directionsDisplay.setDirections({ routes: [] }); });

                                });


                                function calcRoute() {
                                    var request = {
                                        origin: $("#routeTo").val(),
                                        destination: $("#routeFrom").val(),
                                        travelMode: google.maps.TravelMode[$("#routeMode").val()]
                                    };
                                    directionsService.route(request, function(response, status) {
                                        if (status == google.maps.DirectionsStatus.OK) {
                                            directionsDisplay.setDirections(response);
                                        }
                                    });
                                }
                            </script>

                           aaaaaaaaa <input type="text" id="routeFrom" name="routeFrom" value="{{ 'stade ' ~ m.nom}}"/>
                            <label for="routeFrom">Destination</label><br />
                            <input type="text" id="routeTo" name="routeTo" value="Moscou" />

                            <select id="routeMode" name="routeMode">
                                <option value="DRIVING">Driving</option>
                                <option value="WALKING">Walking</option>
                                <option value="BICYCLING">Bicycling</option>
                                <option value="TRANSIT">Transit</option>
                            </select>
                            <label for="routeMode">Mode</label><br />
                            <div class="textcenter">
                                <button id="routeGo">Route</button>
                                <button id="routeClear">Clear Route</button>
                            </div>
                            <div id="map_canvas"></div>
                            <div id="directions"></div>

                        </div>


                            <!-- End Item Team Group A-->


                <!-- Parallax Section -->

                <!-- End Gray Section -->

                <!-- Sponsors-->

                <!-- End Sponsors -->


                <!-- Newsletter -->
                <div class="section-newsletter no-margin">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2>Enter your e-mail and <span class="text-resalt">subscribe</span> to our newsletter.</h2>
                                    <p>Duis non lorem porta,  eros sit amet, tempor sem. Donec nunc arcu, semper a tempus et, consequat.</p>
                                </div>
                                <form id="newsletterForm" action="http://html.iwthemes.com/sportscup/php/mailchip/newsletter-subscribe.php">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" placeholder="Your Name" name="name"  type="text" required="required">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" placeholder="Your  Email" name="email"  type="email" required="required">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="submit" name="subscribe" >SIGN UP</button>
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="result-newsletter"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Newsletter -->
            </section>
            <!-- End Section Area -  Content Central -->

            <div class="instagram-btn">
                <div class="btn-instagram">
                    <i class="fa fa-instagram"></i>
                    FOLLOW
                    <a href="https://www.instagram.com/fifaworldcup/" target="_blank">&#64;fifaworldcup</a>
                </div>
            </div>

            <div class="content-instagram">
                <div id="instafeed"></div>
            </div>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}