{% extends 'baseadmin.html.twig' %}
{% block header %}
{{ parent() }}
{% endblock %}
{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Capcité Moyenne Stade</span>
              <div class="count">{{ stade }}</div>

            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> Total Joueurs</span>
              <div class="count">{{ j }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Age Moyen</span>
              <div class="count green">{{ moy }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Moyenne des buts marqué par les joueurs</span>
              <div class="count">{{ b }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Moyennes des victoires des equipes</span>
              <div class="count">{{ w }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> pourcentage des equipes participant pour la 1ere fois</span>
              <div class="count">{{ f }} %</div>
            </div>
          </div>
          <!-- /top tiles -->


          <div class="row">


            <div class="col-md-12 col-sm-10 col-xs-20">
              <div class="x_panel tile fixed_height_700">
                <div class="x_title">

                  <div id="div_chart"></div>
                  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                  <script type="text/javascript">
                      {{ gc_draw(piechart, 'div_chart') }}
                  </script>
                </div>
                </div>
              </div>


          <div class="col-md-12 col-sm-10 col-xs-20">
            <div class="x_panel tile fixed_height_700">
              <div class="x_title">

                <div id="div_chartt"></div>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    {{ gc_draw(columnchart, 'div_chartt') }}
                </script>
              </div>
            </div>
          </div>
          </div>





  <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel">

                <div class="x_content">
                  <div class="dashboard-widget-content">

                  </div>
                </div>
              </div
            </div>





        <!-- /page content -->
    {% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}