
{% extends 'baseadmin.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><b>Liste des offres de covoiturage</b></h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">

                    <div class="x_content">
                        <br />


                        <div class="x_content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card-box table-responsive">
                                        <p class="text-muted font-13 m-b-30">

                                        </p>

                                        <link href="{{ asset('css/msg.css') }}" rel="stylesheet">
                                        {% set flashbag_notices = app.session.flashbag.get('notice') %}
                                        {% if flashbag_notices is not empty %}
                                            <ul class="msg">
                                                {% for notice in flashbag_notices %}
                                                    <b> <li align="center">{{ notice }}</li></b>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}

                                                                                        <table id="datatable-responsive"
                                                                                               class="table table-striped table-bordered dt-responsive nowrap"
                                                                                               cellspacing="0"
                                                                                               width="100%">
                                                                                        <thead>
                                                                                            <tr>

                                                                                                <th>Utilisateur</th>

                                                                                                <th>Places</th>
                                                                                                <th>Date Match</th>
                                                                                                <th>Heure depart</th>

                                                                                                <th>Point départ</th>
                                                                                                <th>Point arrive</th>


                                                                                                <th>Prix</th>


                                                                                                <th>Supprimer</th>
                                                                                                <th>Modifier</th>



                                                                                            </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                            {% for item in v %}
                                                                                                <tr >

                                                                                                    <td align="center"> {{ item.idUser.username }}</td>

                                                                                                    <td align="center"> {{ item.nbPlacesDispo }}</td>
                                                                                                    <td align="center">{{ item.dateMatch | date('d/m/Y') }}</td>
                                                                                                    <td align="center">{{ item.heureDepart | date('H:i') }}</td>

                                                                                                    <td align="center">{{ item.pointDepart }}</td>
                                                                                                    <td align="center">{{ item.pointArrive }}</td>


                                                                                                    <td align="center">{{ item.prix }}</td>



                                                                                                   <td align="center"><a href="{{ path('supprimer_demande',{'id':item.idDemande}) }}" onclick="return confirm('Voulez-vous vraiment supprimer la demande de covoiturage ?')" > <button type="button" class="btn btn-danger btn-sm">Supprimer</button></a></td>
                                                                                                     <td align="center"><a href="{{ path('modifier_demande',{'id':item.idDemande}) }}"> <button type="button" class="btn btn-primary btn-sm">Modifier</button></a></td>

                                                                                                </tr>
                                                                                            {% endfor %}
                                                                                            </tbody>
                                                                                        </table>



                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}

